<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <title>Spotify Couples App</title>
    <link rel="icon" type="image/png" href="{{userimage}}">
</head>

<body>
        <p>Playlist Created!</p>
        <iframe src="https://open.spotify.com/embed/playlist/{{playID}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

</body>

</html>
