<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/playlist.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <title>Spotify Couples App</title>
</head>

<body>
    <p> Invalid user profile URL. Make sure you are copy and pasting the entire URL and not just a username. </p>
    <form action = "/playlist" method = "POST">
        Enter it here: <input type="text" id="friendName" name="friendName"><br><br>
        <input type = "submit" value = "Submit" />
    </form>
</body>

</html>
